body {
    /* disable long press in iOS? */
    -webkit-touch-callout: none;
  }

  h1 {
    font-size: 52px;
  }

  .dark {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 40px;
  }

  .main {
    width: 1500px;
    height: 800px;
    overflow: hidden;
  }

  .menu {
    width: 250px;
    height: 768px;
    text-align: center;
  }

  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a.button {
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
  }

  a.button:hover {
    background-color: #fff;
    color: #888;
  }

  a.button:active {
    background-color: #fff;
    color: #888;
    box-shadow: 0px 0px 50px #00d2ff;
  }

  a.imgLink {
    width: 100%;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: #444;
    border: 3px solid #444;
    text-shadow: none;
    display: block;
  }

  a.imgLink:hover {
    border: 3px solid #fff;
    background-color: #444;
  }

  .code {
    white-space: pre;
    font-size: 0.7em;
    background-color: #000;
    margin-bottom: 30px;
  }

  .next,
  .prev {
    position: absolute;
    bottom: 0px;
    right: 30px;
    display: inline-block;
    width: auto !important;
    padding: 20px 30px !important;
  }

  .prev {
    right: auto;
    left: 30px;
  }

  #page1 {
    position: relative;
    height: 100%;
  }

  #page2,
  #page3,
  #page4 {
    display: none;
    position: relative;
    height: 100%;
  }

  .slide {
    height: 100%;
  }

  .slide:target #page1 {
    display: none;
  }

  #slide2:target #page2 {
    display: block;
  }

  #slide3:target #page3 {
    display: block;
  }

  #slide4:target #page4 {
    display: block;
  }

  #page4 ul {
    list-style-type: square;
    font-size: 0.8em;
  }

  .mainUI {
    border: 0px solid pink;
    position: fixed;
    top: 0px;
    width: 99%;
    height: 99%;
    z-index: 1;
    pointer-events: none;
    /* allow click-through in transparent areas */
  }

  .regionUI {
    border: 0px solid yellow;
    position: absolute;
    display: flex;
    flex-direction: row;
    pointer-events: none;
  }

  .buttonUI {
    border: 0px solid lime;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: auto;
    filter: drop-shadow(0px 0px 20px white);
  }
  .mainBoard
{   background-color: #fff;
	border: 1px solid rgb(206, 192, 255); 
	position: fixed; 
	top: 0px;  
	width:20%; 
	height:99%; 
	z-index: 11; 
	pointer-events: none; /* allow click-through in transparent areas */
}

.regionBoard
{
	border: 1px solid yellow;
	position: absolute; 
	display: flex;
	flex-direction: row;
	pointer-events: none;
}

.buttonBoard
{
	border: 1px solid lime;
	display: flex;
	flex-direction: column;
	justify-content: center;
	pointer-events: auto;	
	filter: drop-shadow(0px 0px 20px white);
}

main {
    height: 100%;
    width: 100%;
  }
  
  aside {
    background-color: #0799d3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    z-index: 1;
  }
  
  section {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
  }
  
  label {
    display: inline-block;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 3;
    position: fixed;
  }
  
  .bar {
    display: block;
    background-color: #0799d3;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    transition: background-color .5s ease-in, transform .5s ease-in, width .5s ease-in;
  }
  
  .content {
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    transition: transform .5s ease-in-out;
  }
  
  h1 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    font-size: 40px;
  }
  
  .asideList {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, .7);
  }
  
  .asideAnchor {
    border-bottom: 2px solid rgba(255, 255, 255, .7);
    padding: 20px 0;
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: color .3s .15s ease-in;
  }
  
  .asideAnchor::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    width: 0;
    transition: width .3s ease-in;
    z-index: -1;
  }
  
  .asideAnchor:hover {
    color: #0799d3;
  }
  
  .asideAnchor:hover::after {
    width: 100%;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"]:checked ~ .content {
    transform: translateX(20%);
  }
  
  input[type="checkbox"]:checked ~ label .bar {
    background-color: #fff;
  }
  
  input[type="checkbox"]:checked ~ label .top {
    -webkit-transform: translateY(0px) rotateZ(45deg);
    -moz-transform: translateY(0px) rotateZ(45deg);
    -ms-transform: translateY(0px) rotateZ(45deg);
    -o-transform: translateY(0px) rotateZ(45deg);
    transform: translateY(0px) rotateZ(45deg);
  }
  
  input[type="checkbox"]:checked ~ label .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
  }
  
  input[type="checkbox"]:checked ~ label .middle {
    width: 0;
  }
  
  .middle {
    margin: 0 auto;
  }
  
  .ua {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #0799d3;
    font-size: 2em;
    z-index: 2;
  }