<div class="I126 card m-2 border-0 rounded-0 p-0 shadow" data-version="0.1.1" data-recit-block="2" data-editor-id="6"><img class="I126a card-img-top rounded-0" src="https://moodleuqtr.csbe.qc.ca/draftfile.php/25/user/draft/229188646/Attestation-de-formation.jpg" alt="Description" style="width:100%" data-editor-id="7"><div class=" card-body d-flex flex-column"><h3 class="G102 text-left text-dark h3" data-version="0.1.8" data-recit-block="2" style="" data-editor-id="8">Attestation de partcipation</h3>   <p class="" data-editor-id="9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices convallis aliquam. Etiam vulputate nibh et scelerisque tristique. Maecenas vitae consectetur lacus. Aenean leo nibh, vulputate et metus ut, vehicula auctor sem.</p><div class=" basic-pale-row text_box3 mt-auto" style="" data-version="0.1.1" data-recit-block="2"></div></div></div>